<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
        <%= @user.email %>
        <%= @user.name %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>