<h2>User info</h2>

<div class="user_info">
 <dl>
	 <dt>Name:</dt>
	 <dd></dd>
	 <dt>E-mail:</dt>
	 <dd></dd>
     <dt>Date create:</dt>
	 <dd></dd>
	 <dt>Date update:</dt>
	 <dd></dd>
 </dl>
</div>
